.title_container {
    background-color: #233249;
    width: 75%;
}

.title_container h1 {
    margin-left: 30px;
    padding-left: 10px;
    color: white;
    font-family: var(--overskrifter);
    border-left: 2px solid white;
}

